.DS_Store
.editorconfig

/TestAnalyzer/bin/
/TestAnalyzer/obj/

/projects/**/.vscode/*
/projects/**/Builds
/projects/**/bin
/projects/**/Library
/projects/**/Logs
/projects/**/obj
/projects/**/Temp

*.csproj
*.sln
*.code-workspace

settings.json

*.dwlt
*.dll
*.dll.meta
